*.sw?
*~
Thumbs.db
desktop.ini
Session.vim

consumer_keys.json
consumer_keys.bin
src/chrome/backend/oldlib/
src/firefox/
!src/firefox/package.json
src/opera/
!src/opera/config.xml
src/wd-tests/dst/
src/wd-tests/libs/
src/wd-tests/result.txt
src/unicode-tools/ucd/
src/unicode-tools/unihan/
src/unit-tests/LineBreakTest.txt
src/unit-tests/qunit.css
src/unit-tests/qunit.js
