*.swp
*~
Thumbs.db
desktop.ini
.svnignore
consumer_keys.json
consumer_keys.bin
Session.vim
firefox/
!firefox/package.json
opera/
!opera/config.xml
chrome/libs/jsOAuth/original/
chrome/libs/blowfish/original/
chrome/libs/sha1/original/
wd-tests/dst/
wd-tests/libs/
wd-tests/result.txt
unicode-tools/ucd/
unicode-tools/unihan/
unit-tests/LineBreakTest.txt
unit-tests/qunit.css
unit-tests/qunit.js
