[submodule "src/chrome/backend/lib/kosian"]
	path = src/chrome/backend/lib/kosian
	url = git@github.com:akahuku/kosian.git
[submodule "tool"]
	path = tool
	url = git@github.com:akahuku/brisket.git
[submodule "src/lib/unistring"]
	path = src/lib/unistring
	url = git@github.com:akahuku/unistring.git
[submodule "src/lib/marked"]
	path = src/lib/marked
	url = git@github.com:akahuku/marked.git
