*.sw?
*~
Thumbs.db
desktop.ini
Session.vim

consumer_keys.json
consumer_keys.bin
wasavi.pem
app.mk
.rsync*
mkmain
mkqeema
pushbins
resetbins
syncsrc
syncwww
.embryo
node_modules
src/chrome/backend/oldlib/
src/wd-tests/dst/
src/wd-tests/lib/
src/wd-tests/profile/
src/wd-tests/result.txt
src/wd-tests/config.xml
src/wd-tests/.stop-server-result
src/unicode-tools/ucd/
src/unicode-tools/unihan/
dist/wasavi_chrome_web_store.zip
test.log
