<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://appsweets.net/wasavi/" defaultlocale="en-us" version="0.0.1">
	<name>wasavi</name>
	<description>vi editor for any web page.</description>
	<license href="http://www.apache.org/licenses/LICENSE-2.0.html">Licensed under the Apache License, Version 2.0</license>

	<author href="http://appsweets.net" email="akahuku@gmail.com">akahuku@gmail.com</author>

	<icon src="images/icon016.png" width="16" height="16" />
	<icon src="images/icon048.png" width="48" height="48" />
	<icon src="images/icon128.png" width="128" height="128" />
	<content src="backend/main.html" encoding="UTF-8" type="text/html" />

	<access origin="https://dropbox.com/" subdomains="true" />
	<access origin="https://googleapis.com/" subdomains="true" />
	<access origin="https://googleusercontent.com/" subdomains="true" />
	<access origin="https://login.live.com/"/>
	<access origin="https://apis.live.net/"/>

	<feature name="opera:contextmenus"/>

	<update-description href="https://github.com/akahuku/wasavi/raw/master/dist/opera.xml" />
</widget>
